<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <title> State Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        body {
            background-color: #f4f6f9;
        }
        .sidebar {
            height: 100vh;
            background-color: #0d6efd;
        }
        .sidebar a {
            color: #ffffff;
            text-decoration: none;
            padding: 12px 20px;
            display: block;
        }
        .sidebar a:hover {
            background-color: rgba(255,255,255,0.2);
        }
    </style>

    <script>
        $(document).ready(function () {


            $("#PropertyTypeID").change(function () {

                var PropertyTypeID = $(this).val();

                $("#PropertySubTypeID").empty();
                $("#PropertySubTypeID").append('<option value="">-- Select Property SubType --</option>');

                if (PropertyTypeID) {
                    $.ajax({
                        url: "/api/PSubT/" + PropertyTypeID,
                        type: "GET",

                        success: function (data) {

                            console.log(data);

                            $.each(data, function (i, PSubT) {

                                $("#PropertySubTypeID").append(
                                    '<option value="' + PSubT.propertySubTypeID + '">' +
                                    PSubT.subTypeName +
                                    '</option>'
                                );

                            });
                        },

                        error: function () {
                            alert("Failed to load Property SubTypes");
                        }
                    });
                }
            });



            $("#PropertySubTypeID").change(function () {

                var PropertySubTypeID = $(this).val();

                $("#PropertySizeID").empty();
                $("#PropertySizeID").append('<option value="">-- Select Property Size --</option>');

                if (PropertySubTypeID) {

                    $.ajax({

                        url: "/api/PropertySize/" + PropertySubTypeID,
                        type: "GET",

                        success: function (data) {

                            console.log(data);

                            $.each(data, function (i, PropertySize) {

                                $("#PropertySizeID").append(
                                    '<option value="' + PropertySize.propertySizeID + '">' +
                                    PropertySize.propertySizeName +
                                    '</option>'
                                );

                            });
                        },

                        error: function () {
                            alert("Failed to load Property Sizes");
                        }
                    });
                }
            });



            $("#CountryID").change(function () {

                var CountryID = $(this).val();

                $("#StateID").empty();
                $("#StateID").append('<option value="">-- Select State --</option>');

                if (CountryID) {
                    $.ajax({
                        url: "/api/PStates/" + CountryID,
                        type: "GET",

                        success: function (states) {

                            $.each(states, function (i, state) {

                                $("#StateID").append(
                                    '<option value="' + state.stateID + '">' +
                                    state.stateName +
                                    '</option>'
                                );

                            });

                        },

                        error: function () {
                            alert("Failed to load States");
                        }
                    });
                }
            });

        });
    </script>



</head>
<body class="bg-light">
<div class="container-fluid">
    <div class="row">


        <div class="col-md-2 sidebar p-0">
            <h4 class="text-center py-4 text-white">Employee Panel</h4>
            <a th:href="@{|/MainEmployee|}"><i class="bi bi-speedometer2 me-2"></i>Dashboard</a>
            <a th:href="@{|/Customer|}"><i class="bi bi-person-plus me-2"></i>Add Customer</a>
            <a th:href="@{|/Tenant|}"><i class="bi bi-person-plus me-2"></i>Add Tenant</a>
            <a th:href="@{|/CountryPage|}">Add Country</a>
            <a th:href="@{|/StatePage|}">Add State</a>
            <a th:href="@{|/PropertyTypes|}">Add PropertyType</a>
            <a th:href="@{|/PropertySubTypes|}">Add PropertySubType</a>
            <a th:href="@{|/PropertySizes|}">Add Property Size</a>
            <a th:href="@{|PropertyPurposes|}">Add Property Purpose</a>
            <a th:href="@{|Property|}">Add Property</a>


        </div>

        <div class="col-md-10 p-4 text-center">
            <h2 class="mb-4">Property Register</h2>


            <div class="row justify-content-center mt-4">

                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4 class="text-center mb-4">Register</h4>
                            <form th:action="@{/saveProperty}" method="post">

                                <div class="row justify-content-center mb-3">
                                    <input type="text" id="PropertyName" name="PropertyName" class="form-control w-75"
                                           placeholder="Enter Property Name">

                                </div>

                                <div class="mb-3">
                                <div class="row p-2">
                                    <label class="Customer">Customer</label>
                                </div>
                                    <div class="row justify-content-center mb-3">
                                <select name="Customer.CustomerID" class="form-control w-75">
                                    <option value="">Select Customer</option>
                                    <option th:each="c : ${customers}"
                                            th:value="${c.CustomerID}"
                                            th:text="${c.FirstName}">
                                    </option>
                                </select>
                                </div>
                                </div>


                                <div class="mb-3">
                                <div class="row p-2">
                                    <label class="PropertyType">Property Type</label>
                                </div>
                                    <div class="row justify-content-center mb-3">
                                <select name="PropertyType.PropertyTypeID" class="form-control w-75" id="PropertyTypeID">
                                    <option value="">Select Type</option>
                                    <option th:each="t : ${types}"
                                            th:value="${t.PropertyTypeID}"
                                            th:text="${t.PropertyTypeName}">
                                    </option>
                                </select>
                                </div>
                                </div>

                                <div class="mb-3">
                                <div class="row p-2">
                                    <label class="PropertySubType">Property SubType</label>
                                </div>
                                    <div class="row justify-content-center mb-3">
                                        <select id="PropertySubTypeID" class="form-control w-75" name="PropertySubType.PropertySubTypeID">
                                            <option value="">-- Select PropertySubType --</option>
                                        </select>
                                </div>
                                </div>

                                <div class="mb-3">
                                <div class="row p-2">
                                    <label class="PropertySize">Property Size</label>
                                </div>
                                    <div class="row justify-content-center mb-3">
                                        <div class="row justify-content-center mb-3">
                                            <select id="PropertySizeID" class="form-control w-75" name="PropertySize.PropertySizeID">
                                                <option value="">-- Select PropertySize --</option>
                                            </select>
                                        </div>
                                </div>
                                </div>

                                <div class="mb-3">
                                <div class="row p-2">
                                    <label class="PropertyPurpose">Property Purpose</label>
                                </div>
                                    <div class="row justify-content-center mb-3">
                                <select name="PropertyPurpose.PropertyPurposeID" class="form-control w-75">
                                    <option value="">Select Purpose</option>
                                    <option th:each="p : ${purposes}"
                                            th:value="${p.PropertyPurposeID}"
                                            th:text="${p.purposeName}">
                                    </option>
                                </select>
                                </div>
                                </div>

                                <div class="mb-3">
                                <div class="row p-2">
                                    <label class="PropertyAddress">Property Address</label>
                                </div>
                                    <div class="row justify-content-center mb-3">
                                <input type="text" name="PropertyAddress" class="form-control w-75"
                                       placeholder="Enter Address">

                                </div>
                                </div>

                                <div class="mb-3">
                                    <div class="row p-2">
                                        <label class="Country">Country</label>
                                    </div>

                                    <div class="row justify-content-center mb-3">
                                    <select class="form-control w-75" id="CountryID" name="Country.CountryID">
                                        <option value="">-- Select Country --</option>
                                        <option th:each="Country : ${Countries}"
                                                th:value="${Country.CountryID}"
                                                th:text="${Country.CountryName}">
                                        </option>
                                    </select>
                                </div>
                                </div>


                                <div class="mb-3">
                                    <div class="row p-2">
                                        <label class="State">State</label>
                                    </div>
                                <div class="row justify-content-center mb-3">
                                <select id="StateID" class="form-control w-75" name="State.StateID">
                                    <option value="">-- Select State --</option>
                                </select>

                            </div>
                        </div>


                        <button  class="btn btn-primary w-100">
                                    Submit
                                </button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>